.nav {
  background: burlywood;
  grid-area: n;
}
.item {
  color: white;
  text-decoration: none;
  padding: 5px;
  background-color: black;
  display: block;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  transition: background-color color 0.15s linear;
  transition: color 0.25s linear;
}
.item:hover {
  background-color: grey;
  color: rgb(16, 0, 105);
}
.aktivLink {
  color: gold;
}
