.nav {
  background: burlywood;
  grid-area: n;
}
.item {
  color: white;
  text-decoration: none;
  padding: 5px;
  background: linear-gradient(45deg, #eecfba, #c5dde8);
  display: block;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  transition: background-color color 0.2s linear;
  transition: color 0.25s linear;
  transition: box-shadow 0.2s linear;
}
.item:hover {
  background: radial-gradient(
    farthest-side ellipse at top left,
    white,
    #aaaaaa
  );
  color: rgb(16, 0, 105);
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3),
    -5px -10px 20px rgba(255, 255, 255, 0.5);
}
.aktivLink {
  color: gold;
}
